# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# storage images
image-storage

# images in dev mode
public/images/aboutme-icons/*
public/images/project-images/*

#unused files
src/assets/sass

# language csv
src/languages/*.xlsx

#.env
.env